@layer base {
  :root {
    --radius-small: 3px;
    --radius-large: 6px;
    --gap-default: 2rem;
    --font-measure: 70ch;
    --font-family-default: "Open Sans", sans-serif;
    --font-family-special: "Open Sans", sans-serif;

    --onSurfaceTW: 23 28 30;

    --primary: #1c6586;
    --surfaceTint: #1c6586;
    --onPrimary: #ffffff;
    --primaryContainer: #c4e7ff;
    --onPrimaryContainer: #001e2c;
    --secondary: #4e616d;
    --onSecondary: #ffffff;
    --secondaryContainer: #d1e5f4;
    --onSecondaryContainer: #0a1e28;
    --tertiary: #8f4c33;
    --onTertiary: #ffffff;
    --tertiaryContainer: #ffdbcf;
    --onTertiaryContainer: #380d00;
    --error: #ba1a1a;
    --onError: #ffffff;
    --errorContainer: #ffdad6;
    --onErrorContainer: #410002;
    --background: #f6fafe;
    --onBackground: #181c1f;
    --surface: #f5fafc;
    --onSurface: #171c1e;
    --surfaceVariant: #dce4e8;
    --onSurfaceVariant: #40484c;
    --outline: #70787c;
    --outlineVariant: #c0c8cc;
    --shadow: #000000;
    --scrim: #000000;
    --inverseSurface: #2c3133;
    --inverseOnSurface: #ecf2f4;
    --inversePrimary: #8fcef3;
    --primaryFixed: #c4e7ff;
    --onPrimaryFixed: #001e2c;
    --primaryFixedDim: #8fcef3;
    --onPrimaryFixedVariant: #004c69;
    --secondaryFixed: #d1e5f4;
    --onSecondaryFixed: #0a1e28;
    --secondaryFixedDim: #b5c9d7;
    --onSecondaryFixedVariant: #374955;
    --tertiaryFixed: #ffdbcf;
    --onTertiaryFixed: #380d00;
    --tertiaryFixedDim: #ffb59a;
    --onTertiaryFixedVariant: #72361e;
    --surfaceDim: #d5dbdd;
    --surfaceBright: #f5fafc;
    --surfaceContainerLowest: #ffffff;
    --surfaceContainerLow: #eff4f6;
    --surfaceContainer: #e9eff1;
    --surfaceContainerHigh: #e4e9eb;
    --surfaceContainerHighest: #dee3e5;
  }
  .darkmode {
    --onSurfaceTW: 222 227 229;

    --primary: #8fcef3;
    --surfaceTint: #8fcef3;
    --onPrimary: #003549;
    --primaryContainer: #004c69;
    --onPrimaryContainer: #c4e7ff;
    --secondary: #b5c9d7;
    --onSecondary: #20333e;
    --secondaryContainer: #374955;
    --onSecondaryContainer: #d1e5f4;
    --tertiary: #ffb59a;
    --onTertiary: #55200a;
    --tertiaryContainer: #72361e;
    --onTertiaryContainer: #ffdbcf;
    --error: #ffb4ab;
    --onError: #690005;
    --errorContainer: #93000a;
    --onErrorContainer: #ffdad6;
    --background: #0f1417;
    --onBackground: #dfe3e7;
    --surface: #0f1416;
    --onSurface: #dee3e5;
    --surfaceVariant: #40484c;
    --onSurfaceVariant: #c0c8cc;
    --outline: #8a9296;
    --outlineVariant: #40484c;
    --shadow: #000000;
    --scrim: #000000;
    --inverseSurface: #dee3e5;
    --inverseOnSurface: #2c3133;
    --inversePrimary: #1c6586;
    --primaryFixed: #c4e7ff;
    --onPrimaryFixed: #001e2c;
    --primaryFixedDim: #8fcef3;
    --onPrimaryFixedVariant: #004c69;
    --secondaryFixed: #d1e5f4;
    --onSecondaryFixed: #0a1e28;
    --secondaryFixedDim: #b5c9d7;
    --onSecondaryFixedVariant: #374955;
    --tertiaryFixed: #ffdbcf;
    --onTertiaryFixed: #380d00;
    --tertiaryFixedDim: #ffb59a;
    --onTertiaryFixedVariant: #72361e;
    --surfaceDim: #0f1416;
    --surfaceBright: #343a3c;
    --surfaceContainerLowest: #090f11;
    --surfaceContainerLow: #171c1e;
    --surfaceContainer: #1b2122;
    --surfaceContainerHigh: #252b2d;
    --surfaceContainerHighest: #303637;
  }
}
