/* == system fonts from css tricks - matches system font preventing user to need fonts locally == */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
/* add fonts */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Almarai";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Almarai";
  src: url("./fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Almarai";
  src: url("/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Almarai";
  src: url("/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2?v=1") format("woff2-variations");
  src: url("/fonts/Inter.woff2?v=1") format("woff2") tech("variations");
  font-style: normal;
  font-display: swap;
  font-weight: 300 600;
}

/* == FALLBACK FONT CONFIG == */
@font-face {
  font-family: md-io-fallback;
  src: local("Courier New");
  line-gap-override: 7%;
}

@font-face {
  font-family: obviously-fallback;
  src: local("Verdana");
  size-adjust: 112%;
  line-gap-override: 19%;
}

@font-face {
  font-family: inter-fallback;
  ascent-override: 90.2%;
  descent-override: 22.48%;
  line-gap-override: 0%;
  size-adjust: 107.4%;
  src: local("Arial");
}
