---
import SectionHeading from "~/components/common/SectionHeading.astro";
import Button from "~/components/common/Button.astro"
const {subtitle, title, content, button, sectionbg} = Astro.props
---

<section class:list={["max-w-2xl bg-[--surfaceContainerLowest] flex flex-col gap-4 items-center justify-center text-center p-8 ", sectionbg]}>
    {title && (
        <h1
          aria-roledescription="title"
          class="font-subtitle text-base font-semibold uppercase text-[--primary] max-w-[40ch] underline  decoration-[--secondary] decoration-4 underline-offset-8"
        >
          {title}
        </h1>
    )}
    {subtitle && (
        <p aria-roledescription="subtitle" class="title text-pretty max-w-[35ch] uppercase font-semibold text-xl md:text-2xl">{subtitle}</p>
        <p class="max-w-[50ch] text-base lg:text-lg">{content}</p>
    )}
    {
      Astro.slots.has("content") && (
        <slot name="content" />
      )
    }
    { button && (
      <Button
      href="/contact"
      text="Contact Us"
      type="elevated"
      addClasses="w-fit mt-6"
       />
    )}
    


</section>