---
const {title, gradient} = Astro.props

---

<section class:list={["w-full flex flex-col items-center justify-center pt-32 px-4 pb-4 sm:pb-8 sm:px-6 md:px-8", gradient && "gradient"]}>
    <h1 class:list={["uppercase font-extrabold sm:font-semibold w-full max-w-screen-xl", gradient && "text-white"]}>{title}</h1>


</section>