---
const { header, footer, addClasses } = Astro.props;

---
<!-- check image tage performance if better -->

<a href="/"       aria-label="navigate to home"
class:list={[
  ` flex shrink items-center justify-start rounded-md max-w-full object-contain ${addClasses}`,
  {"order-1 relative min-[250px]:h-8 h-0 sm:h-12 lg:h-16 ": header},
  {"flex items-center gap-2 !no-underline h-12": footer}
  ]}>
  <!-- light mode logo -->

  <svg class="dark:hidden flex object-contain max-h-full w-auto"  width="48" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.79 21.19c3.934 0 7.135-3.21 7.135-7.153 0-3.943-3.201-7.152-7.135-7.152 0 0 .268-.175-13.957-.175-8.294 0-14.6-6.71-14.6-6.71C8.992.149 32.79.045 32.79.045c7.709 0 13.957 6.264 13.957 13.992 0 7.728-6.248 13.992-13.957 13.992L48 42.409H36.492C26.694 21.733 4.234 28.24 4.234 28.24c0-4.042 5.03-4.86 5.03-4.86s.566-2.236 7.657-2.236" fill="#D1D3D4"/><path d="M28.556 23.12c3.934 0 7.135-3.209 7.135-7.152 0-3.944-3.201-7.152-7.135-7.152 0 0 .268-.175-13.957-.175C6.305 8.64 0 1.93 0 1.93c4.758.149 28.556.045 28.556.045 7.709 0 13.957 6.264 13.957 13.992 0 7.728-6.248 13.992-13.957 13.992l15.21 14.38H32.26C22.46 23.664 0 30.17 0 30.17c0-4.043 5.03-4.86 5.03-4.86s.566-2.236 7.657-2.236" fill="#969696"/></svg>

  
  <!-- Logo for dark mode -->
  <svg class="hidden dark:flex object-contain max-h-full w-auto"  width="48" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.79 21.19c3.934 0 7.135-3.21 7.135-7.153 0-3.943-3.201-7.152-7.135-7.152 0 0 .268-.175-13.957-.175-8.294 0-14.6-6.71-14.6-6.71C8.992.149 32.79.045 32.79.045c7.709 0 13.957 6.264 13.957 13.992 0 7.728-6.248 13.992-13.957 13.992L48 42.409H36.492C26.694 21.733 4.234 28.24 4.234 28.24c0-4.042 5.03-4.86 5.03-4.86s.566-2.236 7.657-2.236" fill="#F8F8F8"/><path d="M28.556 23.12c3.934 0 7.135-3.209 7.135-7.152 0-3.944-3.201-7.152-7.135-7.152 0 0 .268-.175-13.957-.175C6.305 8.64 0 1.93 0 1.93c4.758.149 28.556.045 28.556.045 7.709 0 13.957 6.264 13.957 13.992 0 7.728-6.248 13.992-13.957 13.992l15.21 14.38H32.26C22.46 23.664 0 30.17 0 30.17c0-4.043 5.03-4.86 5.03-4.86s.566-2.236 7.657-2.236" fill="#D1D3D4"/></svg>
</a>